@font-face {
  font-family: "Liberation Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Liberation Mono"), url("LiberationMono-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Liberation Mono";
  font-style: italic;
  font-weight: 400;
  src: local("Liberation Mono Italic"), url("LiberationMono-Italic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), url("Merriweather-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), url("Montserrat-Black.ttf");
  font-display: swap;
}
