@font-face {
  font-family: 'Liberation Mono';
  font-style: normal;
  font-weight: 400;
  src: url('LiberationMono-Regular.ttf');
}
@font-face {
  font-family: 'Liberation Mono';
  font-style: italic;
  font-weight: 400;
  src: url('LiberationMono-Italic.ttf');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('Merriweather-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('Montserrat-Black.ttf');
}
