@font-face {
    font-family: Lato;
    src: url(lato-regular.ttf);
}

header {
	color: #ffffff;
	font-weight: 200;
}

header img {
	margin: 40px auto -10px;
    display: block;
} 



/*===================================*\
                Nav
\*===================================*/
nav.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 1200px;
	z-index: 10;
}

ul.top-level {
	display: table;
	list-style: none;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
}

nav li {
	display: table-cell;
	font-size: 2.25em;
	text-align: center;
	float: none;
	width: 25%
}

nav a {
	display: block;
	text-decoration: none;
	height: 100%;
	color: black;
	padding: 12px;
	background-color: #f1f1f1;
}

nav a:hover {
	background-color: #d3d3d3;
}

nav ul ul {
	position: absolute;
	left: -9999px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 0;
	width: 25%;
}

nav ul ul li {
	display: block;
	width: 100%;
	border-top: solid #bababa 1px;
    font-size: 1em;
}

	/* dropdown */
	.parent:first-child:hover .child {left: 0;}
	.parent:nth-child(2):hover .child {left: 25%;}
	.parent:nth-child(3):hover .child {left: 50%;}
	.parent:last-child:hover .child {left: 75%;}

	
	nav ul ul li:hover li.lv1 {
		background-color: #f1f1f1;
	}
	
	nav li:hover ul a {
		text-decoration: none;
	}
	
	nav li:hover ul li a:hover {
		background-color: #d3d3d3;
	}
	
	
	
	
/*===================================*\
                Body
\*===================================*/
body {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	background: -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background: -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background: -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-size: 100%;
	width: 1200px;
	margin: 0 auto;
}

main {
	margin: 0 auto;
	background: #FFFFFF;
	padding: 12px 40px 40px 40px;
	border-radius: 0 0 4px 4px;

}

h1 {
	margin: 20px;
	padding: 20px 0 10px 0;
	font-size: 3.75em;
	text-align: center;
}

h2 {
	text-align: left;
	font-size: 1.875em;
	padding: 30px 0 0;
	line-height: 15px;
}

h3 {
	padding: 4px;
	text-align: center;
	font-size: 1.375em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

main p, main li, main dt, main dd {
	font-size: 1.375em;
    line-height: 1.5em;
}

dd {
	margin: 0 20px 0 40px;
}


canvas.seen-main {
	margin: -12px 0 0 -40px;
	background-image: url("../images/banner.jpg");
}

.code {
    font-family: monospace;
    white-space: pre;
    border: 1px solid gray;
    background-color: white;
    border-radius: 6px;
    font-size: 16px;
	padding: 1px;
}

.circular-portrait {
	float: right;
	background: url("../images/portrait.jpg") center;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	margin: 8em 1em 1em;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

main img.full-width {
	width: 100%;
}


/*===================================*\
               Footer
\*===================================*/
	footer {
		width: 100%;
		color: white;
		font-size: 1em;
	}

	footer > * {
		width: calc(50% - 5em);
		margin-left: 5em;
	}
	
	footer dt {
		color: #FFFFFF;
		font-size: 1.3em;
		display: block;
		width: 3em;
		margin: 0;
		clear: left;
		float: left;
	}
	
	footer section.about {
		float: left;
	}
	
	footer section.contact {
		float: right;
	}
	
	footer dd {
		margin: 0 0 0.85em 5.5em;
	}
	
	footer p, footer dd {
		color: #d3d3d3;
		font-size: 1.3em;
		padding: 0 5em 0 0;
	}
	
	footer a {
		color: #fff;
		text-decoration: none;
	}

	footer ul {
		font-family: FontAwesome;
		font-size: 2.5em;
		list-style: none;
	}
	
	footer ul li {
		display: inline;
		padding: 0 14px;
	}

	
	
	
/*===================================*\
               Parallax
\*===================================*/
            div.parallax {
                height: 500px;

                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto 0 auto;
            }
			
			div.p1 {background-image: url("../images/landscape-3.jpg");}

			div.p2 {background-image: url("../images/landscape-2.jpg");}
			
			div.p3 {background-image: url("../images/landscape-6.jpg");}
			
			div.p4 {background-image: url("../images/landscape-5.jpg");}
			
			div.p5 {background-image: url("../images/landscape-1.jpg");} 
			
            div.parallax-header {
                width: 30%;
                text-align: center;
                color: #fff;
                font-family: Lato, sans-serif;
                font-weight: lighter;
				position: relative;
				top: 45%;
                height: 10%;
                width: 35%;
                font-size: 1.5em;
                letter-spacing: 10px;
                line-height: 48px;
                vertical-align: middle;
                margin: 0 auto 0 auto;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
            
            div.parallax-header a {
                text-decoration: none;
                color: inherit;
            }
	
	
	
/*===================================*\
               DL Button
\*===================================*/
p.dl-button {
	text-align: center;
	margin: 40px auto 0;
	background-color: #5f4d93;
	color: #fff;
	padding: 10px;
	width: 200px;
	font-family: Helvetica, sans-serif;
	border-radius: 4px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


p.dl-button a {
	text-decoration: none;
	color: inherit;
}







hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
	margin: 24px;
}




/*===================================*\
              Other Button
\*===================================*/
main button {
    background-color: #a89cc8;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    border: 1px solid black;
}

main button.button-a {
    background-color: #5f4d93;
    width: 200px;
}




