html {
	font-size: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #F1F1F1;
}

body {
	width: 1200px;
	margin: 10px auto;
	background: #FFFFFF;
	padding: 0 40px 40px 40px;
	border: 2px solid #d3d3d3;
}

h1 {
	margin: 20px;
	padding: 20px 0 10px 0;
	font-size: 60px;
	text-align: center;
}

h2 {
	text-align: left;
	font-size: 30px;
	padding: 30px 0 0;
	line-height: 15px;
}

h3 {
	padding: 4px;
	text-align: center;
	font-size: 22px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

p, li, dt, dd {
	font-family: "Times New Roman", serif, serif;
	font-size: 22px;
	padding: 0;
	margin: 0;
	line-height: 30px;
}

dd {
	padding: 0 0 10px;
	margin: 0 20px 0 40px;
}


img {
	display: block;
	margin: 0 auto;
}