#board {
	width: 308px;
	height: 308px;
    margin-bottom: 50px;
}

#output {
	float: right;
	width: 300px;
	height: 300px;
	margin-top: 20px;
}

#log {
	overflow: auto;
	width: 100%;
	height: 300px;
}

#computer-says {
	font-size: 1.375em;
}

#log p {
	font-size: 1.125em;
	margin: 10px 0;
	padding-left: 20px;
}

.square {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0;
	padding: 0;
  background-color: #3066be;
	font-size: 80px;
	text-align: center;
	line-height: 100px;
	color: white;
	cursor: default;
	user-select: none;
}

.option {
	width: 130px;
	display: none;
}

#sq_1 {
	border-right: 2px solid #1f0053;
	border-bottom: 2px solid #1f0053;
}

#sq_2 {
	border-left: 2px solid #1f0053;
	border-bottom: 2px solid #1f0053;
	border-right: 2px solid #1f0053;
}

#sq_3 {
	border-left: 2px solid #1f0053;
	border-bottom: 2px solid #1f0053;
}

#sq_4 {
	border-top: 2px solid #1f0053;
	border-right: 2px solid #1f0053;
	border-bottom: 2px solid #1f0053;
}

#sq_5 {
	border: 2px solid #1f0053;
}

#sq_6 {
	border-top: 2px solid #1f0053;
	border-left: 2px solid #1f0053;
	border-bottom: 2px solid #1f0053;
}

#sq_7 {
	border-right: 2px solid #1f0053;
	border-top: 2px solid #1f0053;
}

#sq_8 {
	border-left: 2px solid #1f0053;
	border-top: 2px solid #1f0053;
	border-right: 2px solid #1f0053;
}

#sq_9 {
	border-left: 2px solid #1f0053;
	border-top: 2px solid #1f0053;
}
